<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<system.serviceModel>

		<bindings>
   <basicHttpBinding>
    <binding name="AccountServiceImplServiceSoapBinding2">
     <security mode="Transport" />
    </binding>
   </basicHttpBinding>
  </bindings>

		<client>
   <endpoint address="https://85.133.186.11:8324/behdad2/accountservice"
    binding="basicHttpBinding" bindingConfiguration="AccountServiceImplServiceSoapBinding2"
    contract="Behdad2_85.AccountService" name="AccountServiceImplPort1" />
  </client>

	</system.serviceModel>
</configuration>